body { text-align:center; }  

#player{
    width: 100%;
    height: 100%;
}
#video{
    width: 100%;
    height: 100%;
}

.top {
    top:0%;
    left:0%;
    position: absolute;
    height: 90%;
    width: 100%;
    background-color: black;
}

.filter {
    opacity : 0.0;
    top:0%;
    left:0%;
    position: absolute;
    height: 85%;
    width: 100%;
    background-color: black;
}

.bottom{
    background-color: cadetblue;
    /*padding-top:10px; */
    align-content: center;
    position: absolute;
    width: 100%;
    height: auto;
    top:90%;
    bottom: 0;
    left:0%;
}

/* hidden Item */
#movieTable {
     width:auto;
    display: none;
}

#title {
    display: none;
}